# Build output (general)
build/
*.bin
!zig/fonts/*.bin
!zig/trampoline.bin
*.o
*.elf
os.img
NovumOS.iso
qemu.log
disk.img
iso_root/
limine-build/

# Tools
tools/mkiso
tools/mkiso.exe
tools/mkiso.o
tools/mkiso.pdb

# Zig
.zig-cache/
zig-out/
zig/.zig-cache/
zig/build/
zig/zig-out/
zig/nova

# Editor
.vscode/
*.swp
*~

# OS specific
.DS_Store
Thumbs.db

# SDK
sdk/**/*.elf
sdk/**/*.o
*.a
